[submodule "secure-submodule-test"]
	path = secure-submodule-test
	url = git@github.com:jjuuuunnii/secure-submodule-test.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/minseong0324/Clipper_Project_Frontend.git
